Datasheet 4.01D: Migration to and from the United Kingdom by citizenship group, sex and age by country of last or next residence. Countries of last or next residence in groups."

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
from pathlib import Path

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence')
metadata

{'about': 'International Passenger Survey detailed estimates of Long-Term International Migration: Citizenship, sex and age by country of last or next residence. UK, Underlying datasheet 1.',
 'fileURL': 'https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence/2016/underlyingdatasheet4.01ipscitizenshipgroupbysexbyagebycountryoflastornextresidence2016.xls',
 'mailto': 'mailto:migstatsunit@ons.gsi.gov.uk',
 'nextRelease': datetime.date(2018, 11, 29),
 'releaseDate': datetime.date(2017, 11, 30),
 'title': 'International Passenger Survey\xa04.01, citizenship\xa0group\xa0by sex by age by country of last or next residence'}

In [3]:
inputFile = sourceFolder / 'data.xls'
response = session.get(metadata['fileURL'])
# with open(inputFile, 'wb') as f:
#   f.write(response.content)
# # tab = loadxlstabs(inputFile, sheetids='Datasheet 4.01A')[0]

In [ ]:
# response.content

In [4]:
xls = pd.ExcelFile(BytesIO(response.content))
df1 = pd.read_excel(xls, 'Datasheet 4.01D', header = 7)

In [5]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Row Label,RESC All EST,RESC All CI,RESC Oman EST,RESC Oman CI,...,RESC Uzbekistan EST,RESC Uzbekistan CI,RESC Venezuela EST,RESC Venezuela CI,RESC Vietnam EST,RESC Vietnam CI,RESC Zambia EST,RESC Zambia CI,RESC Zimbabwe EST,RESC Zimbabwe CI
0,Inflow,All citizenships,Persons,All ages,NaN,"INFLOW, CIT All, Persons, Age All",526.6,34.4,2.5,2.1,...,0.2,0.3,0.2,0.3,2.2,2,2.4,4.6,0.2,0.3
1,NaN,NaN,NaN,Quinary age groups,0 - 4,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,.,.,...,.,.,.,.,.,.,.,.,.,.
2,NaN,NaN,NaN,NaN,5 - 9,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,.,.,...,.,.,.,.,.,.,.,.,.,.
3,NaN,NaN,NaN,NaN,10 - 14,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,.,.,...,.,.,.,.,.,.,.,.,.,.
4,NaN,NaN,NaN,NaN,15 - 19,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,1.1,1.4,...,.,.,0.1,0.3,.,.,.,.,0.2,0.3
5,NaN,NaN,NaN,NaN,20 - 24,"INFLOW, CIT All, Persons, AGQ 20-24",144.6,20,1,1.5,...,.,.,0.1,0.1,0.7,1,2.3,4.6,.,.
6,NaN,NaN,NaN,NaN,25 - 29,"INFLOW, CIT All, Persons, AGQ 25-29",117.3,14.6,0.2,0.4,...,.,.,.,.,1.1,1.6,.,.,.,.
7,NaN,NaN,NaN,NaN,30 - 34,"INFLOW, CIT All, Persons, AGQ 30-34",72.2,13.1,.,.,...,0.2,0.3,.,.,0.4,0.8,.,.,.,.
8,NaN,NaN,NaN,NaN,35 - 39,"INFLOW, CIT All, Persons, AGQ 35-39",42.8,9,.,.,...,.,.,.,.,.,.,0.1,0.1,.,.
9,NaN,NaN,NaN,NaN,40 - 44,"INFLOW, CIT All, Persons, AGQ 40-44",26.7,7.3,0.1,0.1,...,.,.,.,.,.,.,.,.,.,.
10,NaN,NaN,NaN,NaN,45 - 49,"INFLOW, CIT All, Persons, AGQ 45-49",15,6.1,0.1,0.1,...,.,.,.,.,.,.,.,.,.,.
11,NaN,NaN,NaN,NaN,50 - 54,"INFLOW, CIT All, Persons, AGQ 50-54",12.7,5.1,.,.,...,.,.,.,.,.,.,.,.,.,.
12,NaN,NaN,NaN,NaN,55 - 59,"INFLOW, CIT All, Persons, AGQ 55-59",6,2.9,.,.,...,.,.,.,.,.,.,.,.,0.1,0.1
13,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AGQ 60-64",1.9,1.4,.,.,...,.,.,.,.,.,.,.,.,.,.
14,NaN,NaN,NaN,NaN,65 - 69,"INFLOW, CIT All, Persons, AGQ 65-69",4.1,3,.,.,...,.,.,.,.,.,.,.,.,.,.
15,NaN,NaN,NaN,NaN,70 - 74,"INFLOW, CIT All, Persons, AGQ 70-74",1,2,.,.,...,.,.,.,.,.,.,.,.,.,.
16,NaN,NaN,NaN,NaN,75 - 79,"INFLOW, CIT All, Persons, AGQ 75-79",0.5,1,.,.,...,.,.,.,.,.,.,.,.,.,.
17,NaN,NaN,NaN,NaN,80 - 84,"INFLOW, CIT All, Persons, AGQ 80-84",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,NaN,NaN,NaN,NaN,85 - 89,"INFLOW, CIT All, Persons, AGQ 85-89",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
19,NaN,NaN,NaN,NaN,90 and over,"INFLOW, CIT All, Persons, AGQ 90 plus",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,NaN,NaN,NaN,Alternative age groups 1,0 - 16,"INFLOW, CIT All, Persons, AG1 0-16",32.5,9.3,.,.,...,.,.,.,.,.,.,.,.,.,.
21,NaN,NaN,NaN,NaN,17 - 18,"INFLOW, CIT All, Persons, AG1 17-18",23.3,6.3,1.1,1.4,...,.,.,.,.,.,.,.,.,.,.
22,NaN,NaN,NaN,NaN,19 - 21,"INFLOW, CIT All, Persons, AG1 19-21",82.8,16,0.7,1.4,...,.,.,0.2,0.3,.,.,2.3,4.6,0.2,0.3
23,NaN,NaN,NaN,NaN,22 - 59,"INFLOW, CIT All, Persons, AG1 22-59",380.5,28,0.7,0.7,...,0.2,0.3,.,.,2.2,2,0.1,0.1,0.1,0.1
24,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AG1 60-64",1.9,1.4,.,.,...,.,.,.,.,.,.,.,.,.,.
25,NaN,NaN,NaN,NaN,65 and over,"INFLOW, CIT All, Persons, AG1 65 plus",5.6,3.8,.,.,...,.,.,.,.,.,.,.,.,.,.
26,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"INFLOW, CIT All, Persons, AG2 0-14",26.2,8.6,.,.,...,.,.,.,.,.,.,.,.,.,.
27,NaN,NaN,NaN,NaN,15 - 24,"INFLOW, CIT All, Persons, AG2 15-24",200.1,22.3,2.1,2,...,.,.,0.2,0.3,0.7,1,2.3,4.6,0.2,0.3
28,NaN,NaN,NaN,NaN,25 - 44,"INFLOW, CIT All, Persons, AG2 25-44",259.1,22.8,0.3,0.4,...,0.2,0.3,.,.,1.5,1.8,0.1,0.1,.,.
29,NaN,NaN,NaN,NaN,45 - 59,"INFLOW, CIT All, Persons, AG2 45-59",33.7,8.5,0.1,0.1,...,.,.,.,.,.,.,.,.,0.1,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,NaN,NaN,NaN,NaN,90 and over,"BALANCE, CIT Not British or British Overseas, ...",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
1428,NaN,NaN,NaN,Alternative age groups 1,0 - 16,"BALANCE, CIT Not British or British Overseas, ...",6.7,5.1,.,.,...,.,.,.,.,.,.,.,.,.,.
1429,NaN,NaN,NaN,NaN,17 - 18,"BALANCE, CIT Not British or British Overseas, ...",13.3,4.8,0.7,1.3,...,.,.,.,.,.,.,.,.,.,.
1430,NaN,NaN,NaN,NaN,19 - 21,"BALANCE, CIT Not British or British Overseas, ...",29.4,10.3,0.7,1.4,...,.,.,.,.,-0.2,0.3,.,.,0.2,0.3
1431,NaN,NaN,NaN,NaN,22 - 59,"BALANCE, CIT Not British or British Overseas, ...",85,20.9,0.6,0.7,...,0.2,0.3,.,.,0.3,0.6,.,.,0.1,0.1
1432,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,.,.,...,.,.,.,.,.,.,.,.,.,.
1433,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,.,.,...,.,.,.,.,.,.,.,.,.,.
1434,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"BALANCE, CIT Not British or British Overseas, ...",4.5,4.9,.,.,...,.,.,.,.,.,.,.,.,.,.
1435,NaN,NaN,NaN,NaN,15 - 24,"BALANCE, CIT Not British or British Overseas, ...",68.2,16,1.7,2,...,.,.,.,.,-0.1,0.6,.,.,0.2,0.3
1436,NaN,NaN,NaN,NaN,25 - 44,"BALANCE, CIT Not British or British Overseas, ...",56.9,16.5,0.3,0.4,...,0.2,0.3,.,.,0.2,0.3,.,.,.,.
1437,NaN,NaN,NaN,NaN,45 - 59,"BALANCE, CIT Not British or British Overseas, ...",4.9,6.4,.,.,...,.,.,.,.,.,.,.,.,0.1,0.1
1438,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,.,.,...,.,.,.,.,.,.,.,.,.,.
1439,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,.,.,...,.,.,.,.,.,.,.,.,.,.
1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,"""."" - No contact, ""0~"" - Rounds to zero. Pleas...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,Countries of last or next residence for which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,Â© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
observations = df1.iloc[:, 5:]
observations.head()

,Row Label,RESC All EST,RESC All CI,RESC Oman EST,RESC Oman CI,RESC Pakistan EST,RESC Pakistan CI,RESC Palestine EST,RESC Palestine CI,RESC Paraguay EST,...,RESC Uzbekistan EST,RESC Uzbekistan CI,RESC Venezuela EST,RESC Venezuela CI,RESC Vietnam EST,RESC Vietnam CI,RESC Zambia EST,RESC Zambia CI,RESC Zimbabwe EST,RESC Zimbabwe CI
0,"INFLOW, CIT All, Persons, Age All",526.6,34.4,2.5,2.1,11.8,4.6,0.5,0.7,0.1,...,0.2,0.3,0.2,0.3,2.2,2,2.4,4.6,0.2,0.3
1,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,.,.,0.2,0.3,.,.,.,...,.,.,.,.,.,.,.,.,.,.
2,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,.,.,0.1,0.1,.,.,.,...,.,.,.,.,.,.,.,.,.,.
3,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
4,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,1.1,1.4,2.3,2.1,.,.,.,...,.,.,0.1,0.3,.,.,.,.,0.2,0.3

In [7]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [8]:
new_table.head()

                             Row Label  Column label  Value
0    INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1    INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2    INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3  INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4  INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5

In [9]:
new_table.shape

(122388, 3)

In [10]:
new_table.dropna(inplace=True)

In [11]:
new_table = new_table[new_table['Value'] != '.']

In [12]:
new_table = new_table[new_table['Value'] != '0']

In [13]:
new_table.head(5)

                             Row Label  Column label  Value
0    INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1    INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2    INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3  INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4  INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5

In [14]:
new_table['country'] = new_table['Column label'].replace(to_replace= r"RESC (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['country'] = new_table['country'].str.lower()
new_table['country'] = new_table['country'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
new_table['country'] = new_table['country'].replace(to_replace= r" ", value = "-", regex=True)
new_table['codelist'] = new_table['Column label'].str[0:4]
new_table['codelist'] = new_table['codelist'].str.lower()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['migration_flow'] = temp_table[0]
new_table['citizenship'] = temp_table[1]
new_table['sex'] = temp_table[2]
new_table['age'] = temp_table[3]
new_table['migration_flow'] = new_table['migration_flow'].str.strip()
new_table['migration_flow'] = new_table['migration_flow'].replace(to_replace= r" ", value = ":", regex=True)
new_table['citizenship'] = new_table['citizenship'].str.strip()
new_table['citizenship'] = new_table['citizenship'].replace(to_replace= r" ", value = ":", regex=True)
new_table['sex'] = new_table['sex'].str.strip()
new_table['age'] = new_table['age'].str.strip()
new_table['age'] = new_table['age'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[['Geography','Year','codelist','country','migration_flow','citizenship','sex','age','Measure Type','Value','CI','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
Final_table

,Geography,Year,codelist,country,migration_flow,citizenship,sex,age,Measure Type,Value,CI,Unit
1,K02000001,2016,resc,all,inflow,cit:all,persons,age:all,Count,526.6,34.4,People (thousands)
3,K02000001,2016,resc,all,inflow,cit:all,persons,agq:0-4,Count,8.1,3.2,People (thousands)
5,K02000001,2016,resc,all,inflow,cit:all,persons,agq:5-9,Count,10.2,7.0,People (thousands)
7,K02000001,2016,resc,all,inflow,cit:all,persons,agq:10-14,Count,7.9,3.9,People (thousands)
9,K02000001,2016,resc,all,inflow,cit:all,persons,agq:15-19,Count,55.5,10.0,People (thousands)
11,K02000001,2016,resc,all,inflow,cit:all,persons,agq:20-24,Count,144.6,20.0,People (thousands)
13,K02000001,2016,resc,all,inflow,cit:all,persons,agq:25-29,Count,117.3,14.6,People (thousands)
15,K02000001,2016,resc,all,inflow,cit:all,persons,agq:30-34,Count,72.2,13.1,People (thousands)
17,K02000001,2016,resc,all,inflow,cit:all,persons,agq:35-39,Count,42.8,9.0,People (thousands)
19,K02000001,2016,resc,all,inflow,cit:all,persons,agq:40-44,Count,26.7,7.3,People (thousands)
21,K02000001,2016,resc,all,inflow,cit:all,persons,agq:45-49,Count,15.0,6.1,People (thousands)
23,K02000001,2016,resc,all,inflow,cit:all,persons,agq:50-54,Count,12.7,5.1,People (thousands)
25,K02000001,2016,resc,all,inflow,cit:all,persons,agq:55-59,Count,6.0,2.9,People (thousands)
27,K02000001,2016,resc,all,inflow,cit:all,persons,agq:60-64,Count,1.9,1.4,People (thousands)
29,K02000001,2016,resc,all,inflow,cit:all,persons,agq:65-69,Count,4.1,3.0,People (thousands)
31,K02000001,2016,resc,all,inflow,cit:all,persons,agq:70-74,Count,1.0,2.0,People (thousands)
33,K02000001,2016,resc,all,inflow,cit:all,persons,agq:75-79,Count,0.5,1.0,People (thousands)
35,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:0-16,Count,32.5,9.3,People (thousands)
37,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:17-18,Count,23.3,6.3,People (thousands)
39,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:19-21,Count,82.8,16.0,People (thousands)
41,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:22-59,Count,380.5,28.0,People (thousands)
43,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:60-64,Count,1.9,1.4,People (thousands)
45,K02000001,2016,resc,all,inflow,cit:all,persons,ag1:65:plus,Count,5.6,3.8,People (thousands)
47,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:0-14,Count,26.2,8.6,People (thousands)
49,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:15-24,Count,200.1,22.3,People (thousands)
51,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:25-44,Count,259.1,22.8,People (thousands)
53,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:45-59,Count,33.7,8.5,People (thousands)
55,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:60-64,Count,1.9,1.4,People (thousands)
57,K02000001,2016,resc,all,inflow,cit:all,persons,ag2:65:plus,Count,5.6,3.8,People (thousands)
59,K02000001,2016,resc,all,inflow,cit:all,male,age:all,Count,277.3,25.9,People (thousands)
...,...,...,...,...,...,...,...,...,...,...,...,...
49429,K02000001,2016,resc,zimbabwe,balance,cit:all,female,ag2:15-24,Count,0.2,0.3,People (thousands)
49431,K02000001,2016,resc,zimbabwe,balance,cit:all,female,ag2:45-59,Count,0.1,0.1,People (thousands)
49433,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,age:all,Count,0.2,0.3,People (thousands)
49435,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,agq:15-19,Count,0.2,0.3,People (thousands)
49437,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,agq:55-59,Count,0.1,0.1,People (thousands)
49439,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,ag1:19-21,Count,0.2,0.3,People (thousands)
49441,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,ag1:22-59,Count,0.1,0.1,People (thousands)
49443,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,ag2:15-24,Count,0.2,0.3,People (thousands)
49445,K02000001,2016,resc,zimbabwe,balance,cit:non-british,persons,ag2:45-59,Count,0.1,0.1,People (thousands)
49447,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,age:all,Count,0.2,0.3,People (thousands)
49449,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,agq:15-19,Count,0.2,0.3,People (thousands)
49451,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,agq:55-59,Count,0.1,0.1,People (thousands)
49453,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,ag1:19-21,Count,0.2,0.3,People (thousands)
49455,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,ag1:22-59,Count,0.1,0.1,People (thousands)
49457,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,ag2:15-24,Count,0.2,0.3,People (thousands)
49459,K02000001,2016,resc,zimbabwe,balance,cit:non-british,female,ag2:45-59,Count,0.1,0.1,People (thousands)
49461,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,age:all,Count,0.2,0.3,People (thousands)
49463,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,agq:15-19,Count,0.2,0.3,People (thousands)
49465,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,agq:55-59,Count,0.1,0.1,People (thousands)
49467,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,ag1:19-21,Count,0.2,0.3,People (thousands)
49469,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,ag1:22-59,Count,0.1,0.1,People (thousands)
49471,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,ag2:15-24,Count,0.2,0.3,People (thousands)
49473,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,persons,ag2:45-59,Count,0.1,0.1,People (thousands)
49475,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,age:all,Count,0.2,0.3,People (thousands)
49477,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,agq:15-19,Count,0.2,0.3,People (thousands)
49479,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,agq:55-59,Count,0.1,0.1,People (thousands)
49481,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,ag1:19-21,Count,0.2,0.3,People (thousands)
49483,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,ag1:22-59,Count,0.1,0.1,People (thousands)
49485,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,ag2:15-24,Count,0.2,0.3,People (thousands)
49487,K02000001,2016,resc,zimbabwe,balance,cit:not:british:or:british:overseas,female,ag2:45-59,Count,0.1,0.1,People (thousands)

In [17]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('tidydata4.01D.csv'), index = False)

In [18]:
writeMetadata(metadata, 'ONS-LTIM-Passenger-survey-4.01D', 'Migration')

In [19]:
Final_table.count()

Geography         12414
Year              12414
codelist          12414
country           12414
migration_flow    12414
citizenship       12414
sex               12414
age               12414
Measure Type      12414
Value             12414
CI                12414
Unit              12414
dtype: int64