# International Passenger Survey 4.01, citizenship group by sex by age by country of last or next residence

Convert all tabs from latest Excel spreadsheet available from https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence

In [1]:
from gssutils import *

scraper = Scraper('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence')
scraper

## International Passenger Survey 4.01, citizenship group by sex by age by country of last or next residence

International Passenger Survey detailed estimates of Long-Term International Migration: Citizenship, sex and age by country of last or next residence. UK, Underlying datasheet 1.

### Distributions

1. International Passenger Survey 4.01, citizenship group by sex by age by country of last or next residence ([MS Excel Spreadsheet](https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence/2017/underlyingdatasheet4.01ipscitizenshipgroupbysexbyagebycountryoflastornextresidence2017.xls))

In [2]:
tabs = scraper.distribution().as_databaker()

WARNING:Cache entry deserialization failed, entry ignored

Each tab is of the same form, with "software readable codes":

> The datasheets can be imported directly into suitable software. When importing the datasheets into other software import only rows 8 to 1448, starting at column F.

In [3]:
tidied_sheets = []

for tab in tabs:
    if not tab.name.startswith('Data'):
        continue
    year = int(tab.excel_ref('A2').value[-4:])
    start = tab.excel_ref('F8')
    end = tab.excel_ref('F1448')
    #end = tab.excel_ref('F48')
    codes = start.fill(DOWN) & end.expand(UP)
    observations = codes.fill(RIGHT).is_not_whitespace()
    country = start.shift(RIGHT).fill(RIGHT)
    country_ci = country.regex(r'^.*CI\s*$')
    country_est = country - country_ci
    observations_est = observations & country_est.fill(DOWN)
    observations_ci = observations & country_ci.fill(DOWN)
    cs_est = ConversionSegment(observations_est, [
        HDimConst('Year', year),
        HDim(codes, 'Code', DIRECTLY, LEFT),
        HDim(country_est, 'Country of Residence', DIRECTLY, ABOVE),
        HDim(observations_ci, 'CI', DIRECTLY, RIGHT),
        HDimConst('Measure Type', 'Count'),
        HDimConst('Unit', 'people-thousands')
    ])
    #savepreviewhtml(cs_est)
    tidy_sheet = cs_est.topandas()
    tidy_sheet = tidy_sheet[pd.isna(tidy_sheet['DATAMARKER'])].copy() # Todo: data markers
    tidy_sheet.drop(columns=['DATAMARKER'], inplace=True)
    tidy_sheet.rename(columns={'OBS': 'Value'}, inplace=True)
    tidied_sheets.append(tidy_sheet)
tidy = pd.concat(tidied_sheets)
tidy

,Value,Year,Code,Country of Residence,CI,Measure Type,Unit
0,253.1,2017,"INFLOW, CIT All, Persons, Age All",RESC EU EST,29.6,Count,people-thousands
1,141.9,2017,"INFLOW, CIT All, Persons, Age All",RESC EU15 EST,22.5,Count,people-thousands
2,48.8,2017,"INFLOW, CIT All, Persons, Age All",RESC EU8 EST,11.6,Count,people-thousands
3,52.7,2017,"INFLOW, CIT All, Persons, Age All",RESC EU2 EST,13.0,Count,people-thousands
4,255,2017,"INFLOW, CIT All, Persons, Age All",RESC EEA EST,29.8,Count,people-thousands
5,259.3,2017,"INFLOW, CIT All, Persons, Age All",RESC EFTA EST,30.1,Count,people-thousands
6,347.6,2017,"INFLOW, CIT All, Persons, Age All",RESC Non-EU EST,26.5,Count,people-thousands
7,165.4,2017,"INFLOW, CIT All, Persons, Age All",RESC CW EST,18.5,Count,people-thousands
8,60.9,2017,"INFLOW, CIT All, Persons, Age All",RESC Old CW EST,13.1,Count,people-thousands
9,104.5,2017,"INFLOW, CIT All, Persons, Age All",RESC New CW EST,13.2,Count,people-thousands
10,182.3,2017,"INFLOW, CIT All, Persons, Age All",RESC Non-EU and Non-CW EST,19.0,Count,people-thousands
11,272.9,2017,"INFLOW, CIT All, Persons, Age All",RESC Europe inc EU EST,30.9,Count,people-thousands
12,19.9,2017,"INFLOW, CIT All, Persons, Age All",RESC Europe exc EU EST,8.8,Count,people-thousands
13,201.4,2017,"INFLOW, CIT All, Persons, Age All",RESC Asia EST,18.2,Count,people-thousands
14,24.9,2017,"INFLOW, CIT All, Persons, Age All",RESC Middle East and Central Asia EST,7.0,Count,people-thousands
15,81.3,2017,"INFLOW, CIT All, Persons, Age All",RESC East Asia EST,11.6,Count,people-thousands
16,69,2017,"INFLOW, CIT All, Persons, Age All",RESC South Asia EST,10.3,Count,people-thousands
17,26.2,2017,"INFLOW, CIT All, Persons, Age All",RESC South East Asia EST,6.3,Count,people-thousands
18,126.4,2017,"INFLOW, CIT All, Persons, Age All",RESC Rest of World EST,17.2,Count,people-thousands
19,2.7,2017,"INFLOW, CIT All, Persons, Age All",RESC North Africa EST,1.9,Count,people-thousands
20,29.5,2017,"INFLOW, CIT All, Persons, Age All",RESC Sub-Saharan Africa EST,7.3,Count,people-thousands
21,39.8,2017,"INFLOW, CIT All, Persons, Age All",RESC North America EST,9.6,Count,people-thousands
22,8.4,2017,"INFLOW, CIT All, Persons, Age All",RESC Central and South America EST,3.4,Count,people-thousands
23,46,2017,"INFLOW, CIT All, Persons, Age All",RESC Oceania EST,11.7,Count,people-thousands
24,2.6,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EU EST,2.2,Count,people-thousands
25,1.2,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EU15 EST,1.3,Count,people-thousands
26,0.4,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EU8 EST,0.8,Count,people-thousands
27,1,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EU2 EST,1.6,Count,people-thousands
28,2.6,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EEA EST,2.2,Count,people-thousands
29,2.6,2017,"INFLOW, CIT All, Persons, AGQ 0-4",RESC EFTA EST,2.2,Count,people-thousands
...,...,...,...,...,...,...,...
63204,2.3,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC South Africa EST,2.4,Count,people-thousands
63205,-3.3,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Spain EST,5.1,Count,people-thousands
63206,0.4,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Sri Lanka EST,0.5,Count,people-thousands
63208,0,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Sudan EST,0.1,Count,people-thousands
63210,-0.5,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Sweden EST,0.7,Count,people-thousands
63211,-0.2,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Switzerland EST,1.3,Count,people-thousands
63213,0.5,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Taiwan EST,2.0,Count,people-thousands
63214,0.2,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Tanzania EST,0.5,Count,people-thousands
63215,0.2,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Thailand EST,0.9,Count,people-thousands
63216,0.6,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Trinidad and Tobago EST,1.2,Count,people-thousands
63217,1.6,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Turkey EST,2.6,Count,people-thousands
63219,0.7,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Uganda EST,1.4,Count,people-thousands
63221,0.8,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC United Arab Emirates EST,0.6,Count,people-thousands
63222,2.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC USA EST,2.6,Count,people-thousands
63224,-0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Vietnam EST,0.3,Count,people-thousands
63227,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Zimbabwe EST,0.1,Count,people-thousands
63229,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Pakistan EST,0.1,Count,people-thousands
63233,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Philippines EST,0.2,Count,people-thousands
63234,3.7,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Poland EST,5.1,Count,people-thousands
63235,0.3,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Portugal EST,0.5,Count,people-thousands
63238,0.3,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Romania EST,0.5,Count,people-thousands
63242,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Serbia EST,0.2,Count,people-thousands
63248,1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC South Africa EST,1.3,Count,people-thousands
63254,-0.5,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Sweden EST,1.0,Count,people-thousands
63266,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC USA EST,1.0,Count,people-thousands
63282,0.8,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Romania EST,1.1,Count,people-thousands
63317,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Pakistan EST,0.2,Count,people-thousands
63326,0.4,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Romania EST,0.7,Count,people-thousands
63338,0.1,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC Sri Lanka EST,0.2,Count,people-thousands
63354,-0.4,2017,"BALANCE, CIT Not British or British Overseas, ...",RESC USA EST,0.7,Count,people-thousands

In [5]:
def residence_country_code(s):
    code = pathify(s)
    assert code.startswith('resc-'), code
    code = code[5:]
    assert code.endswith('-est'), code
    code = code[:-4]
    return code.replace('-/-', '-')

tidy['Country of Residence'] = tidy['Country of Residence'].apply(residence_country_code)
codes_table = tidy['Code'].str.split(', ', expand=True)
tidy['Migration Flow'] = codes_table[0]
tidy['IPS Citizenship'] = codes_table[1]
tidy['Sex'] = codes_table[2]
tidy['Age'] = codes_table[3]
tidy = tidy[['Year','Country of Residence','Migration Flow',
             'IPS Citizenship','Sex','Age',
             'Measure Type','Value','CI','Unit']]
tidy

,Year,Country of Residence,Migration Flow,IPS Citizenship,Sex,Age,Measure Type,Value,CI,Unit
0,2017,eu,INFLOW,CIT All,Persons,Age All,Count,253.1,29.6,people-thousands
1,2017,eu15,INFLOW,CIT All,Persons,Age All,Count,141.9,22.5,people-thousands
2,2017,eu8,INFLOW,CIT All,Persons,Age All,Count,48.8,11.6,people-thousands
3,2017,eu2,INFLOW,CIT All,Persons,Age All,Count,52.7,13.0,people-thousands
4,2017,eea,INFLOW,CIT All,Persons,Age All,Count,255,29.8,people-thousands
5,2017,efta,INFLOW,CIT All,Persons,Age All,Count,259.3,30.1,people-thousands
6,2017,non-eu,INFLOW,CIT All,Persons,Age All,Count,347.6,26.5,people-thousands
7,2017,cw,INFLOW,CIT All,Persons,Age All,Count,165.4,18.5,people-thousands
8,2017,old-cw,INFLOW,CIT All,Persons,Age All,Count,60.9,13.1,people-thousands
9,2017,new-cw,INFLOW,CIT All,Persons,Age All,Count,104.5,13.2,people-thousands
10,2017,non-eu-and-non-cw,INFLOW,CIT All,Persons,Age All,Count,182.3,19.0,people-thousands
11,2017,europe-inc-eu,INFLOW,CIT All,Persons,Age All,Count,272.9,30.9,people-thousands
12,2017,europe-exc-eu,INFLOW,CIT All,Persons,Age All,Count,19.9,8.8,people-thousands
13,2017,asia,INFLOW,CIT All,Persons,Age All,Count,201.4,18.2,people-thousands
14,2017,middle-east-and-central-asia,INFLOW,CIT All,Persons,Age All,Count,24.9,7.0,people-thousands
15,2017,east-asia,INFLOW,CIT All,Persons,Age All,Count,81.3,11.6,people-thousands
16,2017,south-asia,INFLOW,CIT All,Persons,Age All,Count,69,10.3,people-thousands
17,2017,south-east-asia,INFLOW,CIT All,Persons,Age All,Count,26.2,6.3,people-thousands
18,2017,rest-of-world,INFLOW,CIT All,Persons,Age All,Count,126.4,17.2,people-thousands
19,2017,north-africa,INFLOW,CIT All,Persons,Age All,Count,2.7,1.9,people-thousands
20,2017,sub-saharan-africa,INFLOW,CIT All,Persons,Age All,Count,29.5,7.3,people-thousands
21,2017,north-america,INFLOW,CIT All,Persons,Age All,Count,39.8,9.6,people-thousands
22,2017,central-and-south-america,INFLOW,CIT All,Persons,Age All,Count,8.4,3.4,people-thousands
23,2017,oceania,INFLOW,CIT All,Persons,Age All,Count,46,11.7,people-thousands
24,2017,eu,INFLOW,CIT All,Persons,AGQ 0-4,Count,2.6,2.2,people-thousands
25,2017,eu15,INFLOW,CIT All,Persons,AGQ 0-4,Count,1.2,1.3,people-thousands
26,2017,eu8,INFLOW,CIT All,Persons,AGQ 0-4,Count,0.4,0.8,people-thousands
27,2017,eu2,INFLOW,CIT All,Persons,AGQ 0-4,Count,1,1.6,people-thousands
28,2017,eea,INFLOW,CIT All,Persons,AGQ 0-4,Count,2.6,2.2,people-thousands
29,2017,efta,INFLOW,CIT All,Persons,AGQ 0-4,Count,2.6,2.2,people-thousands
...,...,...,...,...,...,...,...,...,...,...
63204,2017,south-africa,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,2.3,2.4,people-thousands
63205,2017,spain,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,-3.3,5.1,people-thousands
63206,2017,sri-lanka,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.4,0.5,people-thousands
63208,2017,sudan,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0,0.1,people-thousands
63210,2017,sweden,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,-0.5,0.7,people-thousands
63211,2017,switzerland,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,-0.2,1.3,people-thousands
63213,2017,taiwan,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.5,2.0,people-thousands
63214,2017,tanzania,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.2,0.5,people-thousands
63215,2017,thailand,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.2,0.9,people-thousands
63216,2017,trinidad-and-tobago,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.6,1.2,people-thousands
63217,2017,turkey,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,1.6,2.6,people-thousands
63219,2017,uganda,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.7,1.4,people-thousands
63221,2017,united-arab-emirates,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.8,0.6,people-thousands
63222,2017,usa,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,2.1,2.6,people-thousands
63224,2017,vietnam,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,-0.1,0.3,people-thousands
63227,2017,zimbabwe,BALANCE,CIT Not British or British Overseas,Female,AG2 25-44,Count,0.1,0.1,people-thousands
63229,2017,pakistan,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.1,0.1,people-thousands
63233,2017,philippines,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.1,0.2,people-thousands
63234,2017,poland,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,3.7,5.1,people-thousands
63235,2017,portugal,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.3,0.5,people-thousands
63238,2017,romania,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.3,0.5,people-thousands
63242,2017,serbia,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.1,0.2,people-thousands
63248,2017,south-africa,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,1,1.3,people-thousands
63254,2017,sweden,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,-0.5,1.0,people-thousands
63266,2017,usa,BALANCE,CIT Not British or British Overseas,Female,AG2 45-59,Count,0.1,1.0,people-thousands
63282,2017,romania,BALANCE,CIT Not British or British Overseas,Female,AG2 60-64,Count,0.8,1.1,people-thousands
63317,2017,pakistan,BALANCE,CIT Not British or British Overseas,Female,AG2 65 plus,Count,0.1,0.2,people-thousands
63326,2017,romania,BALANCE,CIT Not British or British Overseas,Female,AG2 65 plus,Count,0.4,0.7,people-thousands
63338,2017,sri-lanka,BALANCE,CIT Not British or British Overseas,Female,AG2 65 plus,Count,0.1,0.2,people-thousands
63354,2017,usa,BALANCE,CIT Not British or British Overseas,Female,AG2 65 plus,Count,-0.4,0.7,people-thousands

In [6]:
from IPython.core.display import HTML
for col in tidy:
    if col not in ['Value', 'CI']:
        tidy[col] = tidy[col].astype('category')
        display(HTML(f"<h2>{col}</h2>"))
        display(tidy[col].cat.categories)

Int64Index([2017], dtype='int64')

Index(['afghanistan', 'albania', 'algeria', 'angola',
       'antarctica-not-otherwise-specified', 'argentina', 'asia', 'australia',
       'austria', 'azerbaijan',
       ...
       'turks-and-caicos-islands', 'uganda', 'ukraine', 'united-arab-emirates',
       'usa', 'uzbekistan', 'vietnam', 'yemen', 'zambia', 'zimbabwe'],
      dtype='object', length=154)

Index(['BALANCE', 'INFLOW', 'OUTFLOW'], dtype='object')

Index(['CIT All', 'CIT British', 'CIT British or British Overseas',
       'CIT Non-British', 'CIT Not British or British Overseas'],
      dtype='object')

Index(['Female', 'Male', 'Persons'], dtype='object')

Index(['AG1 0-16', 'AG1 17-18', 'AG1 19-21', 'AG1 22-59', 'AG1 60-64',
       'AG1 65 plus', 'AG2 0-14', 'AG2 15-24', 'AG2 25-44', 'AG2 45-59',
       'AG2 60-64', 'AG2 65 plus', 'AGQ 0-4', 'AGQ 10-14', 'AGQ 15-19',
       'AGQ 20-24', 'AGQ 25-29', 'AGQ 30-34', 'AGQ 35-39', 'AGQ 40-44',
       'AGQ 45-49', 'AGQ 5-9', 'AGQ 50-54', 'AGQ 55-59', 'AGQ 60-64',
       'AGQ 65-69', 'AGQ 70-74', 'AGQ 75-79', 'AGQ 80-84', 'AGQ 90 plus',
       'Age All'],
      dtype='object')

Index(['Count'], dtype='object')

Index(['people-thousands'], dtype='object')

In [8]:
tidy['Country of Residence'] = tidy['Country of Residence'].cat.rename_categories({
    'bahamas-the': 'bahamas'
})
tidy['Migration Flow'].cat.categories = tidy['Migration Flow'].cat.categories.map(pathify)
tidy['IPS Citizenship'].cat.categories = tidy['IPS Citizenship'].cat.categories.map(lambda s: pathify(s[4:]))
tidy['Sex'] = tidy['Sex'].cat.rename_categories({
    'Female': 'F',
    'Male': 'M',
    'Persons': 'T'})
tidy['Age'].cat.categories = tidy['Age'].cat.categories.map(
    lambda s: 'all' if s == 'Age All' else pathify(s[:3]) + '/' + pathify(s[4:]))
tidy

,Year,Country of Residence,Migration Flow,IPS Citizenship,Sex,Age,Measure Type,Value,CI,Unit
0,2017,eu,inflow,all,T,all,Count,253.1,29.6,people-thousands
1,2017,eu15,inflow,all,T,all,Count,141.9,22.5,people-thousands
2,2017,eu8,inflow,all,T,all,Count,48.8,11.6,people-thousands
3,2017,eu2,inflow,all,T,all,Count,52.7,13.0,people-thousands
4,2017,eea,inflow,all,T,all,Count,255,29.8,people-thousands
5,2017,efta,inflow,all,T,all,Count,259.3,30.1,people-thousands
6,2017,non-eu,inflow,all,T,all,Count,347.6,26.5,people-thousands
7,2017,cw,inflow,all,T,all,Count,165.4,18.5,people-thousands
8,2017,old-cw,inflow,all,T,all,Count,60.9,13.1,people-thousands
9,2017,new-cw,inflow,all,T,all,Count,104.5,13.2,people-thousands
10,2017,non-eu-and-non-cw,inflow,all,T,all,Count,182.3,19.0,people-thousands
11,2017,europe-inc-eu,inflow,all,T,all,Count,272.9,30.9,people-thousands
12,2017,europe-exc-eu,inflow,all,T,all,Count,19.9,8.8,people-thousands
13,2017,asia,inflow,all,T,all,Count,201.4,18.2,people-thousands
14,2017,middle-east-and-central-asia,inflow,all,T,all,Count,24.9,7.0,people-thousands
15,2017,east-asia,inflow,all,T,all,Count,81.3,11.6,people-thousands
16,2017,south-asia,inflow,all,T,all,Count,69,10.3,people-thousands
17,2017,south-east-asia,inflow,all,T,all,Count,26.2,6.3,people-thousands
18,2017,rest-of-world,inflow,all,T,all,Count,126.4,17.2,people-thousands
19,2017,north-africa,inflow,all,T,all,Count,2.7,1.9,people-thousands
20,2017,sub-saharan-africa,inflow,all,T,all,Count,29.5,7.3,people-thousands
21,2017,north-america,inflow,all,T,all,Count,39.8,9.6,people-thousands
22,2017,central-and-south-america,inflow,all,T,all,Count,8.4,3.4,people-thousands
23,2017,oceania,inflow,all,T,all,Count,46,11.7,people-thousands
24,2017,eu,inflow,all,T,agq/0-4,Count,2.6,2.2,people-thousands
25,2017,eu15,inflow,all,T,agq/0-4,Count,1.2,1.3,people-thousands
26,2017,eu8,inflow,all,T,agq/0-4,Count,0.4,0.8,people-thousands
27,2017,eu2,inflow,all,T,agq/0-4,Count,1,1.6,people-thousands
28,2017,eea,inflow,all,T,agq/0-4,Count,2.6,2.2,people-thousands
29,2017,efta,inflow,all,T,agq/0-4,Count,2.6,2.2,people-thousands
...,...,...,...,...,...,...,...,...,...,...
63204,2017,south-africa,balance,not-british-or-british-overseas,F,ag2/25-44,Count,2.3,2.4,people-thousands
63205,2017,spain,balance,not-british-or-british-overseas,F,ag2/25-44,Count,-3.3,5.1,people-thousands
63206,2017,sri-lanka,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.4,0.5,people-thousands
63208,2017,sudan,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0,0.1,people-thousands
63210,2017,sweden,balance,not-british-or-british-overseas,F,ag2/25-44,Count,-0.5,0.7,people-thousands
63211,2017,switzerland,balance,not-british-or-british-overseas,F,ag2/25-44,Count,-0.2,1.3,people-thousands
63213,2017,taiwan,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.5,2.0,people-thousands
63214,2017,tanzania,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.2,0.5,people-thousands
63215,2017,thailand,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.2,0.9,people-thousands
63216,2017,trinidad-and-tobago,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.6,1.2,people-thousands
63217,2017,turkey,balance,not-british-or-british-overseas,F,ag2/25-44,Count,1.6,2.6,people-thousands
63219,2017,uganda,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.7,1.4,people-thousands
63221,2017,united-arab-emirates,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.8,0.6,people-thousands
63222,2017,usa,balance,not-british-or-british-overseas,F,ag2/25-44,Count,2.1,2.6,people-thousands
63224,2017,vietnam,balance,not-british-or-british-overseas,F,ag2/25-44,Count,-0.1,0.3,people-thousands
63227,2017,zimbabwe,balance,not-british-or-british-overseas,F,ag2/25-44,Count,0.1,0.1,people-thousands
63229,2017,pakistan,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.1,0.1,people-thousands
63233,2017,philippines,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.1,0.2,people-thousands
63234,2017,poland,balance,not-british-or-british-overseas,F,ag2/45-59,Count,3.7,5.1,people-thousands
63235,2017,portugal,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.3,0.5,people-thousands
63238,2017,romania,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.3,0.5,people-thousands
63242,2017,serbia,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.1,0.2,people-thousands
63248,2017,south-africa,balance,not-british-or-british-overseas,F,ag2/45-59,Count,1,1.3,people-thousands
63254,2017,sweden,balance,not-british-or-british-overseas,F,ag2/45-59,Count,-0.5,1.0,people-thousands
63266,2017,usa,balance,not-british-or-british-overseas,F,ag2/45-59,Count,0.1,1.0,people-thousands
63282,2017,romania,balance,not-british-or-british-overseas,F,ag2/60-64,Count,0.8,1.1,people-thousands
63317,2017,pakistan,balance,not-british-or-british-overseas,F,ag2/65-plus,Count,0.1,0.2,people-thousands
63326,2017,romania,balance,not-british-or-british-overseas,F,ag2/65-plus,Count,0.4,0.7,people-thousands
63338,2017,sri-lanka,balance,not-british-or-british-overseas,F,ag2/65-plus,Count,0.1,0.2,people-thousands
63354,2017,usa,balance,not-british-or-british-overseas,F,ag2/65-plus,Count,-0.4,0.7,people-thousands

In [9]:
out = Path('out')
out.mkdir(exist_ok=True)
tidy.to_csv(out / 'observations.csv', index = False)

In [10]:
from gssutils.metadata import THEME

scraper.dataset.family = 'migration'
scraper.dataset.theme = THEME['population']
with open(out / 'dataset.trig', 'wb') as metadata:
    metadata.write(scraper.generate_trig())